footer{
    width: 100%;
    background-color: #0a141d;
}

.grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.box-1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box figure img{
    width: 300px;
    margin: auto;
}

.box h2{
    color: white;
    margin-bottom: 25px;
    font-size: 20px;
    text-shadow: 1.5px 1.5px 2px #000;
}

.box p{
    color: #efefef;
    margin-bottom: 10px;
    text-shadow: 1.5px 1.5px 2px #000;
}

.red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    margin-top: 10px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.red-social a:hover{
    color: aqua;
}

.grupo-2{
    padding: 10px;
    width: 100%;
    padding: px;
    background-color: #050c14;
    text-align: center;
}

.grupo-2 small{
    font-size: 15px;
    color: #fff;
}

@media screen and (max-width: 600px) {
    .pie-pagina .grupo-1{
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }


}

@media screen and (max-width: 480px){

    .box-1{
        display: none;
    }

    .grupo-1{
        display: flex;
        flex-direction: column;
    }

    .box{
        margin: 0 20px 0 20px;
    }
}

@media screen and (max-width: 768px){
    footer{
        margin-top: 100px;
    }
}

@media screen and (max-width: 458px){
    footer{
        margin-top: 200px;
    }
}

@media screen and (max-width: 380px){
    footer{
        margin-top: 300px;
    }
}

@media screen and (max-width: 335px){
    footer{
        margin-top: 500px;
    }
}

@media screen and (max-width: 285px){
    footer{
        margin-top: 700px;
    }
}

@media screen and (max-width: 241px){
    footer{
        margin-top: 1000px;
    }
}